@media (max-width: 1024px) {
    /****** section02 ******/
    .section02{
        width: 100%;
        margin: 80px auto;
    }
    .section02 .sub_title{
        padding: 0 30px;
    }
    .section02 .contents_box {
        padding: 0 30px;
    }
    .section02 .contents_box ul li a {
        font-size: 1.6rem;
    }
    .section02 .contents>img {
        min-width: 200px;
    }
    .section02 .red {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px dotted var(--primary-orange);
        border-bottom: 1px dotted var(--primary-orange);
        padding: 30px 0;
    }
    /* 사용방법 이미지 */
    .contents{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 600;
    }
    .contents li{
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: white;
        overflow: hidden;
        padding: 30px;
        box-shadow: rgba(201, 201, 201, 0.3) 0px 2px 10px;
    }
    .contents li img{
        width: 100%;
        max-width: 600px;
        object-fit: contain;
        margin-bottom: 0px;
    }
    .content_howbox_wrap {
        display: flex;
        flex-direction: column;
    }
    .content_howbox {
        display: block;
    }
    .content_howbox p {
        display: none;
    }
    .content_howbox_on {
        display: block;
    }
    
        /****** section02 end ******/
}
