@media (max-width: 1024px) {
    /****** section02 ******/
    .section02{
        width: 100%;
        margin: 40px auto;
    }
    .title_box h3 {
        position: relative;
        margin-bottom: 20px;
        color: #FF5117;
        height: 50px;
        padding: 10px 40px;
        border-radius: 50px;
        background-color: #FF511714;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    .title_box h1 {
        width: 100%;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        letter-spacing: -2px;
    }
    #update-date {
        padding: 0 30px;
    }
    .section02 .sub_title,
    .section03 .sub_title{
        padding: 0 30px;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        font-family: 'Hakgyoansim Allimjang TTF B';
        font-weight: 500;
    }
    .sub_title img {
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        margin-left: 6px;
    }
    #update-date {
        font-size: 1.4rem;
    }
    /* 발열도시락 - 메뉴 */
    #weekly-menu {
        margin-top: 50px;
    }
    .menu_title.section2 {
        width: 40%;
        padding: 30px 0 0 20px;
        margin-right: 10%;
    }
    .date-section {
        font-size: 1.9rem;
    }
    /* 샐러드도시락 - 메뉴 */
    .section3 {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 50px;
        padding: 0 30px;
    }
    .menu_sub_title {
        padding: 0 30px;
    }
    .menu_title.section3 {
        width: 100%;
        font-size: 1.6rem;
    }
    .vertical-meal-box {
        width: 20%;
        margin: 0px;
    }
    #notice{
        color: #FF5117;
        background-color: #F2F2F5;
        width: 100%;
        height: 100px;
        margin: 50px 0 100px 0;
        font-size: 1.6rem;
        font-weight: 550;
        letter-spacing: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #notice2 {
        font-size: 1.6rem;
    }
    /****** section02 end ******/
    /* 식단표 이미지 */
    .menu_image {
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}