.gnb_btn a {
    color: white;
    transition: color .3s;
}
.gnb_box .on a {
    font-weight: 700;
    color: var(--primary-brown);
    transform: translateY(3px);
}
.gnb_box .on {
    border-bottom: 5px solid var(--primary-brown);
    transition: all 0.3s ease-in;
}
.scrolled .gnb_box .on {
    border-bottom: 5px solid var(--primary-orange);
}
/* === SECTION 01 === */
.section01--menu{
    background-image: url(../public/images/menu/menu-visu.jpg);
}
/* === SECTION 02 === */
.section02 {
    overflow: hidden;
    background: url("../public/images/menu/menu-bg.png") top center/cover no-repeat;
    width: 100%;
    height: 390vh;
}
.notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
}
.notice p {padding: 8px 0;}
.notice p:nth-child(1) {
    width: 60px;
}
.notice p:nth-child(1) img {
    width: 100%;
    object-fit: contain;
}
.notice p:nth-child(2) {
    font-size: 40px;
    font-family: 'HakgyoansimR';
    color: #767676;
}
.notice p:nth-child(2) span {
    font-family: 'HakgyoansimB';
    color: var(--primary-orange);
}
#update-date {color: #767676;}
/* 식단표 */
.menu_group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    padding: 0 0 200px 0;
}
.bob {
    padding-top: 40px;
}
.pul {
    padding-top: 40px;
}
.book img,
.menu_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book {
    width: auto;
    height: 1000px;
    box-shadow: 10px 10px 12px 8px rgba(14, 10, 7, 0.6);
}
.menu_img {
    width: auto;
    height: 1000px;
    overflow: hidden;
    box-shadow: 10px 10px 12px 8px rgba(14, 10, 7, 0.6);
}
.book_box {
    background-color: #30231B;
    width: 100%;
    height: 140px;
    box-shadow: 10px 30px 30px 10px rgba(36, 26, 19, 0.6);
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.book_box div {
    background-color: #4A3427;
    height: 30px;
}
.book_box01 {
    position: absolute;
    top: 1700px;
}
.book_box02 {
    position: absolute;
    top: 3085px;
}
.tip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    flex-direction:column;
}

.bob_tip{
    display: flex;
    align-items: center;    
    font-size: 20px !important;
    color: #ddd !important;
    margin-top: -5px;
    font-weight: 100;
}
.tip p {
    color: white;
    font-family: 'HakgyoansimR';
    font-size: 36px;
}
.tip span {
    color: var(--primary-orange);
    font-family: 'HakgyoansimB';
}
.pul_tip span {
    color: var(--primary-green);
}
.icon_mask {
    width: 50px;
    height: 50px;

    background-color: var(--primary-orange);

    -webkit-mask-image: url("../public/images/icon/error.svg");
    mask-image: url("../public/images/icon/error.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-right: 8px; 
}
.pul_tip .icon_mask {
    width: 50px;
    height: 50px;

    background-color: var(--primary-green);

    -webkit-mask-image: url("../public/images/icon/error.svg");
    mask-image: url("../public/images/icon/error.svg");

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
    margin-right: 8px; 
}


/* 이미지 확대 */
.img_popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.65);
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 99999;
  padding: 20px; /* 모바일에서 안전 공간 확보 */
}

/* 팝업 활성화 */
.img_popup.show {
  display: flex;
  animation: fadeIn 0.2s ease-out;
}

/* 이미지가 항상 화면 안에서 보이게 하는 핵심 */
.img_popup_inner img {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.35);
  cursor: pointer;
}

/* 등장 애니메이션 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


@media (max-width: 1500px) {
        .section02 {
        background-position: center 70px;
        height: auto;
        padding-bottom: 200px;
        position: relative;
    }
    /* ------------ 로그인용 gnb ------------ */
    /* 모바일 헤더 */
    .menu_btn,
    .close_btn {
        display: block;
    }
    .menu_btn {
        width: 28px;
        height: 28px;
        background-color: white;
        -webkit-mask-image: url("../public/images/icon/fe_bar.svg");
        mask-image: url("../public/images/icon/fe_bar.svg");
    }
    header.scrolled .menu_btn {
        width: 28px;
        height: 28px;
        background-color: white;
        -webkit-mask-image: url("../public/images/icon/fe_bar.svg");
        mask-image: url("../public/images/icon/fe_bar.svg");
    }
    .gnb_box .on {
        border-bottom: 5px solid var(--primary-orange);
        transition: all 0.3s ease-in;
    }
}
@media (max-width: 1200px) {
    .section02 {
        background-position: center 70px;
    }
    .section02 .container{
        width: 100%;
    }
    .notice{
        margin-bottom: 250px;
    }
    .menu_group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 0;
        padding-bottom: 80px;
        position: relative;
        z-index: 5;
    }
    .bob{
        padding-bottom: 120px;
    }
    .book,
    .menu_img {
        width: auto;
        height: 800px;
        margin: 0;
        padding: 0;
        display: block;
    }
    .book img,
    .menu_img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .book_box01{
        top: 1450px;     
    }
    .book_box02{
        top: 2570px;     
    }
    .tip{
        margin-top: 50px;
    }
}
@media (max-width: 950px) {
    .section02 {
        background-position: center 100px;
    }
    .notice{
        width: 100%;
    }
    .notice p:nth-child(1) {
        width: 40px;
        padding: 0;
    }
    .notice p:nth-child(2) {
    font-size: 30px;
    text-align: center;
    }
    .menu_group.bob,
    .menu_group.pul{
        width: 70%;
        margin: 0 auto;
    }
    .menu_group.pul{
        padding-top: 40PX;
    }
    .menu_group .book,
    .menu_group .menu_img {
    height: auto !important;
    }
    .bob_tip{
        font-size: 18px !important;
    }
    .book_box01{
        top: 51%;
        height: 4%;
    }
    .book_box02{
        top: 88%;
        height: 4%;
    }
    .tip{
        margin: 0 auto;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 45px;
        height: 45px;
        margin: 0;
    }
    .tip p{
        font-size: 28px;
    }
}
@media (max-width: 850px) {
    .section02{
        padding: 80px 0;
    }
    .book_box01{
        top: 53.5% !important;
    }
    .book_box02{
        top: 91.4% !important;
    }
}
@media (max-width: 720px){
    .notice{
        margin-bottom: 150px;
    }

        .book_box01{
        top: 51.5% !important;
    }
}
@media (max-width: 680px) {
    .notice{
        margin-bottom: 150px
    }
    .notice p:nth-child(1) {
        width: 35px;
    }
    .notice p:nth-child(2) {
    font-size: 22px;
    }
    .notice p{
        font-size: 14px;
    }
    .menu_group.pul{
        padding-top: 40PX;
    }
    .bob_tip{
        font-size: 16px !important;
    }

    .book_box01{
        top: 50.9% !important;
        height: 4%;
    }

    .book_box02{
        top: 90.5% !important;
        height: 4%;
    }
    .tip{
        margin: 0 auto;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .tip p{
        font-size: 22px;
    }
}
@media (max-width: 600px) {

    .tip{
        margin: 0 auto;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .tip p{
        font-size: 22px;
    }
    .book_box01{
        top: 51.3% !important;
        height: 4%;
    }

    .book_box02{
        top: 90% !important;
        height: 4%;
    }
}
@media (max-width: 540px) {
    .section02 {
        background-position: center 80px;
    }
    .notice{
        margin-bottom: 100px;
    }
     .notice p:nth-child(1) {
        width: 35px;
    }
    .notice p:nth-child(2) {
    font-size: 20px;
    padding: 0;
    }
    .notice p{
        font-size: 14px;
        padding: 3px;
    }
    .menu_group.bob,
    .menu_group.pul{
        padding: 25px 0 100px 0;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 40px;
        height: 40px;
        margin: 0;
    }
    .bob_tip{
        font-size: 14px !important;
        margin-top: -8px;
    }
    .book_box01{
        top: 49% !important;
        height: 4%;
    }
    .book_box02{
        top: 86.9% !important;
        height: 4%;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 30px;
        height: 30px;
    }
    .tip p{
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .section02{
        padding: 50px 0;
        background-position: center 60px;
    }

    .notice p:nth-child(2) {
    font-size: 15px;
    }

    .notice span{
        font-size: 15px;
    }

    .notice{
        margin-bottom: 90px !important;
    }

    .bob_tip{
        font-size: 12px !important;
        margin-top: -10px;
    }
    .notice p:nth-child(1) {
        width: 30px;
    }
    .notice p:nth-child(2) {
    font-size: 15px;
    padding: 0;
    }
    .notice p{
        font-size: 12px;
        padding: 3px;
    }
    .menu_group.bob,
    .menu_group.pul{
        padding: 15px 0 80px 0;
    }
    .book_box01{
        top: 49% !important;
        height: 5%;
    }
    .book_box02{
        top: 88% !important;
        height: 5%;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 25px;
        height: 25px;
    }
    .tip p{
        font-size: 15px;
    }
}
@media (max-width: 420px){
    .book_box01{
        top: 49.3% !important;
        height: 5%;
    }
    .book_box02{
        top: 88% !important;
        height: 5%;
    }
}
@media (max-width: 380px) {
    .section02{
        background-position: center 70px;
    }
    .notice{
        width: 90%;
        margin: 0 auto;
    }
    .notice p:nth-child(1) {
        width: 25px;
    }
    .notice p:nth-child(2) {
    font-size: 16px;
    }
    .notice p{
        font-size: 11px;
    }
    .bob_tip{
        margin-top: -2px;
        font-size: 11px !important;
    }
    .book_box01{
        top: 49.3% !important;
        height: 5%;
    }
    .book_box02{
        top: 87.5% !important;
        height: 5%;
    }
    .tip{
        gap: 2px;
    }
    .icon_mask,
    .pul_tip .icon_mask{
        width: 20px;
        height: 20px;
    }
    .tip p{
        font-size: 15px;
    }
}
@media (max-width: 369px) {
      .book_box01{
        top: 50.5% !important;
        height: 5%;
    }
    .book_box02{
        top: 87.6% !important;
        height: 5%;
    }
}
@media (max-width: 340px) {
        .book_box02{
        top: 87% !important;
        height: 5%;
    }

}